<div>
    <br>
    <mat-card>
        <br>
        <h3>Add A New Task</h3>
        <mat-divider></mat-divider>
        <br>
        <form [formGroup]="createTaskForm" class="create-task-form">
            <mat-form-field class="column-full-width">
                <input matInput placeholder="Task Title" formControlName="title" #title>
            </mat-form-field>

            <mat-form-field class="column-full-width">
                <input matInput placeholder="Task Description" formControlName="description" #description>
            </mat-form-field>

            <div class="column-full-width">
                <h4>Priority: </h4>
                <mat-slider thumbLabel tickInterval="1" min="1" max="10" [(ngModel)]="priorityValue" formControlName="priority" #priority>
                </mat-slider>
            </div>

            <mat-divider></mat-divider>
            <br><br>
            <button class="saveButton" type="submit" (click)="createTask(title.value, description.value, priority.value)"
                [disabled]="createTaskForm.pristine || createTaskForm.invalid" mat-raised-button
                color="primary">Save</button>
            <button mat-raised-button color="accent" routerLink="/">Back</button>
        </form>
    </mat-card>
</div>